:root {
    --clr-bg-dark: #02080c;
    --clr-bg-light: #092148;

    --clr-neon-teal: #4deeea;
    --clr-neon-green: #74ee15;
    --clr-neon-yellow: #ffe700;
    --clr-neon-pink: #f000ff;
    --clr-neon-blue: #001eff;

    --clr-neon-teal-l: hsl(from var(--clr-neon-teal) h s calc(1.4*l));
    --clr-neon-green-l: hsl(from var(--clr-neon-green) h s calc(1.4*l));
    --clr-neon-yellow-l: hsl(from var(--clr-neon-yellow) h s calc(1.4*l));
    --clr-neon_pink-l: hsl(from var(--clr-neon-pink) h s calc(1.4*l));
    --clr-neon-blue-l: hsl(from var(--clr-neon-blue) h s calc(1.4*l));

    --content-padding: 60px;
    --sidebar-width: 200px;
}

body {
    min-height: 100vh;
    margin: 0;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: left;

    background: linear-gradient(180deg, var(--clr-bg-dark), 50%, var(--clr-bg-light));
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: row;
}


hr {
    border: none;
    height: 2px;
    background: var(--clr-hg);
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;
}

.sidebar {
    width: var(--sidebar-width);
}

.floating-window {
    position: relative;
    border-radius: 5px;
    border: 2px solid var(--clr-neon-blue-l);
    box-shadow:
        0px 0px 20px 2px var(--clr-neon-blue),
        inset 0px 0px 20px 2px var(--clr-neon-blue);

    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    will-change: transform;
    z-index: 10;

    padding: 10px 10px 10px 10px;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 20px;
    height: 300vh;
    width: 100%;

    padding: var(--content-padding) var(--content-padding) 0px var(--content-padding);
}

.header {
    padding-left: var(--sidebar-width);
    padding-right: var(--sidebar-width);
    grid-area: header;
    box-sizing: border-box;

    border: solid;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: var(--clr-neon-blue-l);

    box-shadow:
        0px 0px 20px 2px var(--clr-neon-blue),
        inset 0px -20px 20px -18px var(--clr-neon-blue);

    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 20px;
}

.cc {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}

.block {
    height: 50px;
    width: 50px;
}

.block:hover {
    animation: pop 100ms linear;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.target {
    height: 50px;
    width: 50px;

    border-radius: 50px;
    border-width: 2px;
    border-color: white;
    background: linear-gradient(45deg, var(--clr-neon-teal), var(--clr-neon-pink));
}

.card {
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--clr-neon-teal-l);

    box-shadow:
        0px 0px 20px 2px var(--clr-neon-teal),
        inset 0px 0px 20px 2px var(--clr-neon-teal);
    text-shadow: 0px 0px 5px var(--clr-neon-teal);
}

.card:hover {
    border-color: var(--clr-neon-pink);

    box-shadow:
        0px 0px 20px 2px var(--clr-neon-pink),
        inset 0px 0px 20px 2px var(--clr-neon-pink);
    text-shadow: 0px 0px 5px var(--clr-neon-pink);

}

.link {
    display: inline-block;
    text-decoration: none;

    color: white;
}

.board {
    width: 100%;
    aspect-ratio: 1;
    max-height: calc(100vh - 300px);

    border-radius: 50px;

    background: hsl(from var(--clr-bg-dark) h s calc(5 * l));
}

.blue {
    color: white;
    text-shadow:
        0px 0px 5px var(--clr-neon-blue),
        0px 0px 10px var(--clr-neon-blue);
}

.rotating-border {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    background: #111;
}

.rotating-border::before {
    content: "";
    position: absolute;
    inset: -50%;
    background: conic-gradient(from 0deg,
            var(--clr-neon-blue),
            var(--clr-neon-teal),
            var(--clr-neon-blue));
    animation: spin 2s linear infinite;
}

.rotating-border::after {
    content: "";
    position: absolute;
    inset: 3px;
    /* thickness of border */
    border-radius: 47px;
    background: #111;
}

.rotating-border>* {
    position: relative;
    z-index: 2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(720deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
